name: moskovets3d

services:
  backend:
    build:
      context: ./backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend:/app/backend
      - ./backend/logs:/app/backend/logs
    environment:
      - DATABASE_URL=postgresql://moskovets3d:moskovets3d@db:5432/moskovets3d
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped


  frontend:
    build:
      context: ./frontend
      args:
        - NODE_ENV=development
    ports:
      - "3000:3000"
    volumes:
      # Mount source code for live reload
      - ./frontend:/app
      - /app/node_modules  # Avoid overriding node_modules
    environment:
      - REACT_APP_URL_API=http://backend:5001
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      backend:
        condition: service_started
    networks:
      - app-network
    restart: unless-stopped
    stdin_open: true
    tty: true

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: moskovets3d
      POSTGRES_PASSWORD: moskovets3d
      POSTGRES_DB: moskovets3d
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U moskovets3d"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
